<!DOCTYPE html>
<html ng-app="walletApp">

<head>
  <meta charset="utf-8">
  <title>Ripple Wallet 日本語版 - ripplerm ripple-wallet</title>
  <meta name="description" content="リップルウォレット日本語版。Ripple Wallet Japanese Version. (ripplerm ripple-wallet)">
  <script src="lib/ripple-1.2.5-min.js"></script>
  <script src="lib/angular-1.4.4.min.js"></script>
  <script src="lib/ngStorage.min.js"></script>
  <script src="lib/bootstrap/js/ui-bootstrap-tpls-0.14.3.min.js"></script>
  <script src="lib/highcharts/lib/adapters/standalone-framework.js"></script>
  <script src="lib/highcharts/lib/highstock.js"></script>
  <script src="lib/md5.js"></script>
  <script src="lib/FileSaver.min.js"></script>
  <script src="lib/json-formatter/json-formatter.min.js"></script>
  <script src="lib/qrcode.js"></script>
  <script src="lib/angular-qrcode.js"></script>

  <script src="js/jsonrewriter.js"></script>
  <script src="js/mywallet.js"></script>

  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="lib/json-formatter/json-formatter.min.css" rel="stylesheet">
</head>

<body>
  <div ng-controller="walletCtrl" class="container">
    <table class="table table-bordered table-condensed" style="text-align: center">
      <tr>
        <td style="text-align: center">
          <div uib-dropdown uib-keyboard-nav>
            <button type="button" uib-dropdown-toggle><span class="caret"></span></button>
            <ul class="uib-dropdown-menu">
                <li ng-repeat="network in networks"><a href="#" ng-click="switchNetwork(network)">{{network}}</a></li>
            </ul>
            Network: <font color="{{(state == 'online') ? 'green' : 'red'}}">{{state}}</font> [{{network}}]
          </div>
        </td>
        <td style="text-align: center;">Server: {{server}} <span style="padding-left:1em;">Fee:{{fee}}</span></td>
        <td style="text-align: center">Last-Closed-Ledger: <font color="blue"> {{ledgerIndex}} </font></td>
      </tr>
    </table>
    <div ng-show="network == 'TEST'">
      <font color="blue" size="5">[You are on TestNet]... to play around, get funded accounts from: <a href="https://ripple.com/build/ripple-test-net/" target="_blank">ripple-test-net</a>.</font>
      <hr>
    </div>

    <font size="5">Wallet Account: <b>{{activeAccount ? activeAccount : "-"}} </b></font>
    <button class="btn btn-primary" ng-click="prepareSetWalletAccount()"><span class="glyphicon glyphicon-pencil"> Change</button></span>

    <br>
    secret set: <font color="{{secrets[activeAccount] ? 'green' : 'red' }}">{{secrets[activeAccount] ? "&#10004" : "&#10008"}}</font>
    <button ng-click="prepareSetWalletSecret()"><span class="glyphicon glyphicon-pencil"></span> {{secrets[activeAccount] ? 'Change' : 'Set' }}</button>
    <button ng-show="secrets[activeAccount]" ng-click="showSecret = !showSecret">{{showSecret ? "Hide" : "Show"}}</button> {{secrets[activeAccount] && showSecret ? secrets[activeAccount] : '' }}
    <hr>

    <!-- Tabs -->
    <uib-tabset>
      <uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tabActive[tab.title]" disable="tab.disabled" select="tab.select()">
        <div ng-include="tab.templete"></div>
      </uib-tab>
    </uib-tabset>

  </div>
</body>

</html>
