                    <div class="modal-header">
                        <h3 class="modal-title">アカウント設定を編集</h3>
                    </div>
                    <div class="modal-body">
                      <form name="accountSettingsForm">
                        <table class="table">
                          <tr>
                            <th>設定項目</th>
                            <th>オン / オフ</th>
                          </tr>
                          <tr>
                            <td>
                              <span ng-repeat="(key, value) in options.set_clear_flags"> <input type="radio" name="flag" ng-model="options.flagSetClear" value="{{key}}"> {{key.slice(3)}} <br></span>
                            </td>
                            <td>
                              <input type="radio" name='toggle' ng-model="options.actionSetClear" value="set"> オン <br><br>
                              <input type="radio" name='toggle' ng-model="options.actionSetClear" value="clear"> オフ
                            </td>
                          </tr>
                        </table>
                      </form>
                      NOTE: <br>
                      'NoFreeze' は一度オンにすると解除することはできません。 <br>
                      'RequireAuth' は Owner Count がゼロ（一度も取引を行ったことの無い）ときだけオンにできます。

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" ng-disabled="!(options.actionSetClear && options.flagSetClear)" ng-click="ok()">送信</button>
                        <button class="btn btn-warning" type="button" ng-click="cancel()">キャンセル</button>
                    </div>
