                    <div class="modal-header">
                        <h3 class="modal-title">マルチシグ設定</h3>
                    </div>
                    <div class="modal-body">
                        <form name="setSignerListForm" novalidate>
                            定足数: <input type="number" min=0 ng-model="options.quorum" size="5" required>
                            <span style="color:red" ng-show="options.quorum > options.weightSum()">定足数は重みの合計より小さくなければなりません。</span>
                            <br><br>
                            サイナー: <button ng-click="options.signers[options.signers.length]={}">追加</button>
                            <br>
                            <table class="table">
                                <tr>
                                  <th>アドレス</th>
                                  <th style="text-align: center">重み (数値)</th>
                                  <th></th>
                                </tr>
                                <tr ng-repeat = "signer in options.signers">
                                  <td>
                                    <input type="text" ng-model="options.signers[$index].address" name="signerAddress{{$index}}" size="45" ripple-valid-address required>
                                    <span style="color:red" ng-show="setSignerListForm.signerAddress{{$index}}.$error.rippleValidAddress">正しいアドレスではありません</span>
                                  </td>
                                  <td style="text-align: center">
                                    <input type="text" min=1 ng-model="options.signers[$index].weight" size="5" name="signerWeight{{$index}}" uint32 required>
                                    <span style="color:red" ng-show="setSignerListForm.signerWeight{{$index}}.$dirty && setSignerListForm.signerWeight{{$index}}.$invalid">不正な値</span>
                                  </td>
                                  <td><button class="btn btn-link" ng-click="options.signers.splice($index,1)"><span class="glyphicon glyphicon-trash"></span></button></td>
                                </tr>
                            </table>
                            <br>NOTE: 定足数を０にすることでマルチシグ設定をリセットできます。<br>
                        </form>

                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" type="button" ng-disabled="setSignerListForm.$invalid || options.quorum > options.weightSum()" ng-click="ok()">送信</button>
                        <button class="btn btn-warning" type="button" ng-click="cancel()">キャンセル</button>
                    </div>
