<div class="modal-header">
    <h3 class="modal-title">注文をキャンセル</h3>
</div>
<div class="modal-body">
  <form name="offerCancelForm" nonvalidate>
    <h5>
        <table class="table table-striped">
            <tr>
                <td>注文番号: </td>
                <td>{{options.offer_sequence}}</td>
            </tr>
            <tr>
                <td>タイプ:</td>
                <td><span style="color: {{options.type=='sell' ? 'red' : 'green'}}">{{options.type == 'sell' ? 'SELL' : 'BUY'}}</span></td>
            </tr>
            <tr>
                <td>数量:</td>
                <td>{{options.qty}} {{options.baseCurrency}}</td>
            </tr>
            <tr>
                <td>価格: </td>
                <td>{{options.price}}  ({{options.tradeCurrency}})</td>
            </tr>
        </table>
    </h5>
    <hr>
    <h4>注文をキャンセルしますか？</h4>
  </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">確認</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">キャンセル</button>
</div>
