<form name="setTradePairForm" novalidate>

<div class="modal-header">
    <h3 class="modal-title">取引ペア設定</h3>
</div>
<div class="modal-body">
    <table class="table">
        <tr>
            <td>ベース通貨:</td>
            <td><input type="text" name="baseCurrency" ng-model="options.baseCurrency" size=50 autofocus ng-minlength="3" ng-change="options.baseIssuer = (options.baseCurrency == 'XRP') ? null : options.baseIssuer;" uppercase-only></td>
        </tr>
        <tr>
            <td>
                発行者:
            </td>
            <td>
                <input type="text" name="baseIssuer" ng-model="options.baseIssuer" size=50 ripple-valid-address ng-required="options.baseCurrency != 'XRP'" ng-disabled="options.baseCurrency === 'XRP'" uib-typeahead="gateway.address as gateway.name for gateway in gateways | filter: {name: $viewValue, currencies: options.baseCurrency}">
                <span style="color:green" ng-hide="gatewayName(options.baseIssuer) == options.baseIssuer">{{gatewayName(options.baseIssuer)}}</span>
                <span style="color:red" ng-show="setTradePairForm.baseIssuer.$dirty && setTradePairForm.baseIssuer.$error.rippleValidAddress">正しいアドレスではありません</span>
            </td>
        </tr>
    </table>
    <br>
    <table class="table">
        <tr>
            <td>カウンター通貨:</td>
            <td><input type="text" name="tradeCurrency" ng-model="options.tradeCurrency" size=50 ng-minlength="3" ng-change="options.tradeIssuer = (options.tradeCurrency == 'XRP') ? null : options.tradeIssuer;" uppercase-only></td>
        </tr>
        <tr>

            <td>発行者:</td>
            <td>
                <input type="text" name="tradeIssuer" ng-model="options.tradeIssuer" size=50 ripple-valid-address ng-required="options.tradeCurrency != 'XRP'" ng-disabled="options.tradeCurrency === 'XRP'" uib-typeahead="gateway.address as gateway.name for gateway in gateways | filter: {name: $viewValue, currencies: options.tradeCurrency}">
                <span style="color:green" ng-hide="gatewayName(options.tradeIssuer) == options.tradeIssuer">{{gatewayName(options.tradeIssuer)}}</span>
                <span style="color:red" ng-show="setTradePairForm.tradeIssuer.$dirty && setTradePairForm.tradeIssuer.$error.rippleValidAddress">正しいアドレスではありません</span>
            </td>

        </tr>
    </table>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="submit" ng-disabled="setTradePairForm.$invalid || (options.baseCurrency == options.tradeCurrency && (options.baseIssuer == options.tradeIssuer))" ng-click="ok()">送信</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">キャンセル</button>
</div>

</form>
