
        <div id="tabSubmit">
          <span style="font-weight:bold; font-size:14pt; padding-right:2em;">トランザクションを送信: </span>
          <br><br>
          ファイルを読み込む: <input type="file" onchange="angular.element(this).scope().txSubmitImport(this)">
          <br>
          <form name="txSubmitForm" id="txSubmitForm" novalidate>
            <input type="text" size="100" name="tx_blob" placeholder="tx_blob" ng-model="txSubmitBlob.blob" required>
            <br><Br>
            <button type="button" class="btn btn-info" ng-disabled="txSubmitForm.$invalid" ng-click="txSubmit()">送信</button>
            {{txSubmitResponse}}
          </form>
        </div>
