        <div id="tabInfo">
            <span style="font-weight:bold; font-size:20pt; padding-right:1em;">アカウント情報: </span>
            <button  class="btn btn-warning" ng-click="accountInfo()" ng-disabled="!activeAccount"><span class="glyphicon glyphicon-refresh"></span> 更新 </button> {{accountInfoStatus}}
            <br><br>
            <table border="1" cellpadding="5" cellspacing="0" style="cellpadding:5px; width:750px; table-layout:fixed" class="table table-bordered">
              <tr>
                <td style="width:120px">XRP 残高</td>
                <td width="380">
                  {{accountBalances.XRP ? accountBalances.XRP : '-'}}
                  <span style="padding-left:2em;"> {{accountBalances.XRP ? '(リザーブ: ' + accountBalances.reserved + ')' : ''}} </span>

                </td>
                <td width="250" rowspan="3" colspan="2" align="center"><img src="{{accountData.urlgravatar}}" style="margin-right: 5px; margin-bottom: 5px; display: {{accountData.EmailHash ? 'block': 'none'}}"></td>
              </tr>
              <tr>
                <td>ドメイン</td><td>{{accountData.domain ? accountData.domain : '-'}}</td>
              </tr>
              <tr>
                <td>メールアドレス ハッシュ</td><td>{{accountData.EmailHash ? accountData.EmailHash : '-'}}</td>
              </tr>
              <tr>
                <td>トランスファ レート</td><td>{{accountData.TransferRate ? ((accountData.TransferRate / 1000000000 - 1) * 100).toFixed(7) + ' %' : '-' }} </td>
                <td width="90">ティック サイズ</td><td width="40" align="center">{{accountData.TickSize ? accountData.TickSize : '-'}}</td>
              </tr>

              <tr>
                <td>合鍵</td><td>{{accountData.RegularKey ? accountData.RegularKey : '-'}}</td>
                <td width="90">Owner Count</td><td width="40" align="center">{{accountData.OwnerCount}}</td>
              </tr>
              <tr>
                <td style="vertical-align:middle">マルチシグ サイナー</td>
                <td style="vertical-align:middle">
                  {{accountData['signers'] && accountData['signers'].length ? '' : '-'}}
                  <table border="1" cellpadding="5" cellspacing="0" style="cellpadding:5px; width:360px; table-layout:fixed" class="table table-bordered">
                    <tr ng-repeat="signer in accountData['signers']">
                      <td width="310">{{signer.address}}</td>
                      <td width="50" align="center">{{signer.weight}}</td>
                    </tr>
                    <tr ng-hide="! accountData['quorum']">
                      <td width="310" align="right">Quorum : </td>
                      <td width="50" align="center">{{accountData['quorum'] ? accountData['quorum'] : '-'}}</td>
                    </tr>
                  </table>
                </td>
                <td style="vertical-align:middle">Next Sequence</td>
                <td align="center" style="vertical-align:middle">{{accountData.Sequence}}</td>
              </tr>
              <tr>
                <td>メッセージキー</td><td colspan="3">{{accountData.MessageKey ? accountData.MessageKey : '-'}}</td>
              </tr>
              <tr>
                <td>アカウント設定</td>
                <td colspan="3" word-wrap="break-word">
                  <span style="padding-right:1em;" ng-repeat="(key, value) in accountData['settings']">{{key}}:<font color="{{value ? 'green' : 'red'}}">{{value ? "&#10004" : "&#10008"}} </font></span>
                </td>
              </tr>
            </table>

            <div uib-alert ng-repeat="alert in alerts.account" class="alert-{{alert.status == 'FINAL' ? (alert.status_code.slice(0,3) == 'tes' ? 'success' : 'danger') : 'warning'}}" close="closeAlert('account', $index)" dismiss-on-timeout="30000">
              {{alert.description}} <br>
              <b>Status:</b>[{{alert.status}}{{alert.status_code ? ', ' +  alert.status_code : ''}}],
              <b>Result:</b> {{alert.result}} <br>
              {{alert.tx_hash ? 'tx_hash: ' + alert.tx_hash : ''}}
            </div>

            <button type="button" class="btn btn-info" ng-click="prepareSetRegularKey()">合鍵設定</button>
            <button type="button" class="btn btn-info" ng-click="prepareSetSignerList()">マルチシグ設定</button>
            <button type="button" class="btn btn-info" ng-click="prepareAccountSet({modal: 'info'})">アカウント情報編集</button>
            <button type="button" class="btn btn-info" ng-click="prepareAccountSet({modal: 'flags'})">アカウント設定編集</button>
            <br>
        </div>
